
.TextInput {
    font-size: large;
    border: 1px solid #EEEEEE;
    padding: 5px;
    border-radius: 3px;
    display: block;
    margin: 5px auto;
  }
  .TextInput:focus {
    outline: none;
    border-color: #719ECE;
    box-shadow: 0 0 10px rgb(50, 100, 153);
  }
  .Radio {
    font-size: small;
  }
  .Button {
    display: block;
    width: 120px;
    margin: 10px auto;
    padding: .5rem;
    font-size: 1em;
    background: #99ccff;
    border-radius: 5px;
    color: black;
    cursor: pointer;
    margin: 5px auto;
  }
  .Button:hover {
    transition-duration: 0.6s;
}
  .Button:hover {
    background-color: black; 
    color: #99ccff;
    ;
  }
  
  .ResetButton {
    margin: 10px auto;
    width: 120px;
    padding: .5rem;
    font-size: 1em;
    background: black ;
    border-color: 99ccff;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    margin: 5px auto;
  }
  .ResetButton:hover {
    transition-duration: 0.6s;
}
  .ResetButton:hover {
    background-color: #99ccff; 
    color: black;
  }